/*Global*/
$font-marker: 'Permanent Marker';
$font-header: 'Work Sans', sans-serif;
/*Body*/

body {
    font-size: 16px;
}
section {
    padding: 96px 0;
    background-color: #F0E5DB;
    
}
/*Navigation*/

.navigation {
    height: 100px;
    background-color: transparent;
    position: fixed;
    width: 100%;
}
.bar {
    justify-content: center;
}
.bar .company {
    margin: auto;
    padding: 0;
    p {
        margin: 20px;
        font-size: 36px;
        text-align: center;
        font-family: $font-marker;
        color: goldenrod;
    }
}
.menu {
    text-align: center;
    margin: 0;
    padding: 0;
}
.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 35px auto;
        li {
            display: inline;
                a {
                font-size: 20px;
                font-family: $font-header;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 800;
                padding-right: 24px;
                color: black;
                text-shadow: 2px 2px darkgray;
                transition: 0.3s;
            }
        }
}
a:only-child:hover{
    color: gold;
}
/*Main Section*/
.home {
    background-image: url("/images/welcome/welcome-image.jpg");
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    padding-bottom: 48px;
}
.home-inner {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
        font-family: $font-marker;
        font-size: 1.3rem;
        margin-bottom: 26px;
        color: gold;
    }
    h1 {
        font-family: $font-marker;
        font-size: 2rem;
    }
    button {
        background-color: gold;
        border: none;
        color: white;
        text-align: center;
        padding: 15px 32px;
        font-size: 24px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 900;
        transition: 0.3s;
    }
    .welcome {
        top: 60%;       
    }
}
/*Our Services Section*/

.services .container .header {
    h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        font-family: $font-marker;
    }
    p {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
        font-family: $font-marker;
    }
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    p {
        text-align: justify;
        padding: 10px;
        font-family: $font-marker;

    }
    h5 {
        margin: 10px;
        font-size: 1rem;
        font-family: $font-header;
    }
    a{
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid gold;

    }
        i {
            color: gold;
            line-height: 60px;
            height: 60px;
            width: 60px;
            font-size: 30px;
            font-weight: 800;
            text-align: center;
            margin: auto;
            transform: translate(-50% -50%);
            transition: 0.3s;        
        }
}
/*portfolio*/
.portfolio .container .header {
    h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        font-family: $font-marker;
    }
    p {
        text-align: center;
        margin: 0;
        margin-bottom: 2rem;
        font-family: $font-marker;
    }
}
.card {
    background-color: lightgray;
}
.card .card-image {
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: fill;
    img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform .3s;
    }
}
.card .card-description {
    h6 {
        text-align: center;
        font-family: $font-header;
        font-size: 24px;
        padding-bottom: 5px;
        margin: 10px;
    }
    p {
        text-align: center;
        font-family: $font-header;
        font-size: 18px;
        padding: 0;
    }
}
/*Footer*/
footer {
    margin: 24px auto;
}
.author {
    justify-content: center;
    align-items: center;
}
.copyright p {
    font-family: $font-header;
    text-align: center;
}
.social-media ul {
    list-style-type: none;
}
.social-media ul li {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid darkgray;
    background-color: darkgray;
    content: "";
    height: 60px;
    width: 60px;
    position: relative;

    i {
        color: black;
        line-height: 60px;
        height: 60px;
        width: 60px;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        margin: auto;
        position: absolute;
        transform: translate(-50% -50%);
        left: -50%;
        right: -50%;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        position: static;
        margin: 10px;
        flex-direction: column;
        height: auto;
    }
    .bar {
        flex-direction: column;
        margin: 10px;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
}